.logo{
    height: 3.75rem;
    margin-left: 2rem;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 40%;
    flex-wrap: wrap-reverse;
    @media only screen and (max-width:$bp-small){
        order: 1;
        flex :0 0 100%;
        background-color:var(--color-grey-light-2);
        
    }
}
.search-bar{
    font-family: inherit;
    font-size: inherit;
    padding: .7rem 2rem;
    background-color: var(--color-grey-light-2);
    border: none;
    outline: none;
    width: 90%;
    border-radius: 5rem;
    margin-right: -3rem;
    

    &:focus{
        width: 100%;
    }
    &::-webkit-input-placeholder{
        font-size: 1.3rem;
    }
}
.search-button{
    background-color: transparent;
    border: none;
    outline: none;
    
}
.search-icon{
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
    outline: none;
    border: none;
}
.user-data{
    display: flex;
    justify-content: space-between;
   align-self: stretch;
    
    &>*{
        padding: 0 2rem;
       
    }
    
}
.data{
  align-self: stretch;
   position: relative;
   display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover{
        background-color: var(--color-grey-light-4);
    }
}
.data-logo{
    height:2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-1);
}
.photo{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}
.notification{
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    position: absolute;
    top: 1.1rem;
    right: 1rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-name{
    padding-left: 1rem;
    font-size: 1.6rem;
    color: var(--color-grey-dark-3);
}

//Navigation Design

.items{
//    margin-left: 1rem;
    list-style: none;
    @media only screen and(max-width:$bp-medium){
        display: flex;
    justify-content: space-between;
    }
    @media only screen and (max-width:$bp-smallest){
        padding:0;
    }
}
.item-list{
    position: relative;
    padding: 1.8rem 2rem;
   &:not(:last-child){
    //    margin-bottom: .5rem;
       
   
   }

   &::before{
       content: "";
       top: 0;
       left: 0rem;
       
       position: absolute;
       height: 100%;
       width: 0.3rem;
       background-color: var(--color-primary);
       transform: scaleY(0);
       transition: transform .2s,
       width .4s cubic-bezier(1,0,0,1) .2s,
       background-color .1s;
   }
   
}
.item-list:hover::before,
   .first-link::before{
       transform: scaleY(1);
       width: 100%;
   }
   .item-list:active::before{
       background-color: var(--color-primary-light);
   }
.link:link,
.link:visited{
    display: flex;
    align-items: center;
    position: relative;
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;

    @media only screen and (max-width:$bp-smallest){
       flex-direction: column;
       font-size: 1rem;
      }
}
.icon{
    width: 2.3rem;
    height: 2.3rem;
    fill: currentColor;
    margin-right: 2rem;

    @media only screen and (max-width:$bp-smallest){
        margin-right: 0rem;
      }
}

.legal{
    padding: 2rem;
    color: var(--color-grey-light-1);
    font-size: 1.4rem;
    text-align: center;
    @media only screen and (max-width:$bp-medium){
        display: none;
    }
}
.gallery{
    display: flex;
    // overflow: hidden;
    
    &-image{
        img{
            height: 100%;
            width: 100%;
        }
    }
}
//overview
.overview{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--color-grey-light-4);

&-heading{
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2rem;
    color: var(--color-grey-dark-2);
    padding: 1.2rem 2rem;
}
&-stars{
    margin-right: auto;
    display: flex;
    align-items: center;

}
.star{
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--color-primary);

}
.location{
    display: flex;
    align-items: center;
   

    &-icon{
        height: 1.5rem;
        width: 1.5rem;
        fill: var(--color-primary);
        margin-right: .5rem;
    }
    &-button{
        background-color: transparent;
        border: none;
        color: var(--color-primary);
        border-bottom: 1px solid currentColor;
        transition: all .1s;
        font-size: 1.2rem;
        &:hover{
            color: #333;
        }
        &:hover{
            animation-name: buttanim;
            animation-duration: 1s;
            animation-iteration-count: infinite;
        }
    }
}
@keyframes buttanim{
    0%{
       transform: scale(1)

    }
    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}

.rating{
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-self: center;
    align-items: center;
    padding: .6rem 2rem;
    color: #fff;
    margin-left: 1rem;

    @media only screen and (max-width:$bp-small){
        padding: .2rem .5rem;
    }
}
.rating-number{
        font-size: 3rem;
        @media only screen and (max-width:$bp-smallest){
            font-size: 2rem;
        }
}
.rating-vote{
    font-size: .7rem;
    margin-top: -.2rem;
    @media only screen and (max-width:$bp-smallest){
        font-size: .4rem;
        margin-top: 0;
    }
}
}